@page "/History"
@using Model;
@using System.Diagnostics;

    <div class="m-5">
        <div class="d-flex">
            <EditForm Model="@_historyModel" OnValidSubmit="@GetTag">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="input-group mr-2" style="width: 20vw">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-tag"></span></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Rechercher par tag" @bind-value="@TagSearch">
                    <div class="ml-2 mr-2">
                        <button class="btn btn-primary"><span class="oi oi-magnifying-glass"></span></button>
                    </div>
                </div>
            </EditForm>
            <EditForm Model="@_historyModel" OnValidSubmit="@GetDate">
                <DataAnnotationsValidator />
                <div class="input-group mr-2" style="width: 20vw">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-calendar"></span></span>
                    </div>
                    <input type="date" id="datepomodoro" name="pomodoroDate" class="form-control"
                           value="@DateSearch.ToShortDateString()"
                           min="2018-01-01" max="@dateMax">
                    <div class="ml-2 mr-2">
                        <button class="btn btn-primary"><span class="oi oi-magnifying-glass"></span></button>
                    </div>
                </div>
            </EditForm>
        </div>
            <table class="table ml-5" style="width:50vw; margin-top: 14vh !important">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Tag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            10/05/2020
                        </td>
                        <td>
                            Projet C#
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10/02/2020
                        </td>
                        <td>
                            MSPR - Dev
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10/02/2020
                        </td>
                        <td>
                            Projet Dotnet
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <img src="../medias/images/kitten-3.png" alt="kitten" class="kitten-right" style="width:14vw" />
            </div>
    </div>

@code {
    HistoryModel _historyModel = new HistoryModel();
    HttpClient Http = new HttpClient();
    private DateTime dateMax { get; set; }
    private string TagSearch { get; set; }
    private DateTime DateSearch { get; set; }
    private List<TagModel> TagsList = new List<TagModel>();

    private List<HistoryModel> HistoriesList = new List<HistoryModel>();

    protected override void OnInitialized()
    {
        // J'arrive pas à afficher la date d'ajd dans le input
        this.dateMax = DateTime.Now;
        Debug.WriteLine(this.dateMax);
    }

    protected override async Task OnInitializedAsync()
    {
        TagsList = await Http.GetJsonAsync<List<TagModel>>("https://localhost:44313/api/Tags");
        HistoriesList = await Http.GetJsonAsync<List<HistoryModel>>("https://localhost:44313/api/Histories");
    }

    public void GetTag()
    {
        Debug.WriteLine(this.TagSearch);

    }

    public void GetDate()
    {
        Debug.WriteLine(this.DateSearch.ToShortDateString());
    }
}